<style>
  .section {
    display: inline-block;
  }
</style>
<div class="editor-row">
  <div class="gf-form-group section">
    <h5 class="section-heading">Default Camera Location</h5>
    <p>If unsure of location values enter in the suggested defaults to show view of CONUS.</p>
    <div class="gf-form">
      <label class="gf-form-label width-8">West</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.west" ng-change="ctrl.render()" ng-model-onblur
        placeholder="-137">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">South</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.south" ng-change="ctrl.render()" ng-model-onblur
        placeholder="34">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">East</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.east" ng-change="ctrl.render()" ng-model-onblur
        placeholder="-62">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">North</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.north" ng-change="ctrl.render()" ng-model-onblur
        placeholder="38">
    </div>
  </div>
</div>