<style>
    @import url(../Build/Cesium/Widgets/widgets.css);

    html, body, #cesiumContainer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    h5 {
        font-size: 1rem;
        font-weight: bold;
    }

    #sources {
        background-color: rgba(61, 61, 233, 0.603);
        display: block;
        position: absolute;
        bottom: 30px;
        right: 10px;
        padding: 10px;
    }

    #sources label {
        padding-right: 10px;
    }

</style>
<gf-satellogic-3d-globe></gf-satellogic-3d-globe>
<div id="sources">
    <h5>Source</h5>
    <label><input type="checkbox" id="source1" checked /> Locations</label>
    <label><input type="checkbox" id="source2" checked /> Radar</label>
    <label><input type="checkbox" id="source3" checked /> Pacific</label>
</div>