<style>
  .yellow {
    color: #e8ec00;
  }
</style><div class="editor-row">
  <div class="gf-form-group">
    <!-- <h5 class="section-heading">CZML Server</h5> -->
    <h5 class="section-heading">CZML Server</h5>
    <p class='yellow'>Must be for a Czml data source!</p>

    <div class="gf-form">
      <label class="gf-form-label width-8">Base URL</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.url" ng-change="ctrl.render()" ng-model-onblur placeholder="http://localhost:3333">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">Querystring</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.query" ng-change="ctrl.render()" ng-model-onblur placeholder="from=$timeFrom&amp;to=$timeTo">
    </div>

    <hr/>

    <h5 class="section-heading">KML Server One</h5>
    <p class='yellow'>Must be for a Kml data source!</p>
    <div class="gf-form">
      <label class="gf-form-label width-8">Base URL</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.url2" ng-change="ctrl.render()" ng-model-onblur
        placeholder="http://localhost:8081">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">Querystring</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.query2" ng-change="ctrl.render()" ng-model-onblur
        placeholder="from=$timeFrom&amp;to=$timeTo">
    </div>

    <hr />

    <h5 class="section-heading">KML Server Two</h5>
    <p class='yellow'>Must be for a Kml data source!</p>
    
    <div class="gf-form">
      <label class="gf-form-label width-8">Base URL</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.url3" ng-change="ctrl.render()" ng-model-onblur
        placeholder="http://localhost:8081">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">Querystring</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.query3" ng-change="ctrl.render()" ng-model-onblur
        placeholder="from=$timeFrom&amp;to=$timeTo">
    </div>
    
  </div>
  <div class="gf-form-group">
    <h5 class="section-heading">Bing API Key</h5>
    <div class="gf-form">
      <label class="gf-form-label">Key</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.bingKey" ng-change="ctrl.render()" ng-model-onblur>
    </div>
  </div>
</div>
